<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
       /* common css */
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: min-content;
        overflow-y: auto;
        background: #f3f3f3;
        font-family: "Open Sans", sans-serif;
      }
      .template-container {
        margin: 0 auto;
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }
      /* header css */
      .template-header {
        text-align: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }
      .logo-img {
        width: 180px;
        height: 50px;
      }
      /* header css */

      /* footer css */
      .template-footer {
        text-align: center;
        display: block;
      }
      .template-footer-heading {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .template-footer-description {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .template-footer-social-medias {
        text-align: center;
      }
      .template-footer-social-media-link {
        text-decoration: none;
        color: white;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: inline-block;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        position: relative;
      }
      .template-footer-social-media-icon {
        position: absolute;
        top: 50%;
        left: 24%;
        translate: 50%;
        transform: translate(-50%, -50%);
      }
      /* footer css */

      /* common css */

  
  /* common styles ended */
  
      .template-body {
        padding: 35px 30px;
      }
      .template-body-content {
        text-align: center;
        display: block;
       
      }
      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
        margin-top: 8px;
        margin-bottom: 10px;
      }
      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .greetings-body-info {
       display: block;
       text-align: center;
      }
      .greetings-body-info h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
      }
      .greetings {
       display: block;
        text-align: center;
        margin-top: 30px;
      }
      .greetings p {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
      }

      .template-body-content div {
        font-weight: 700;
        font-size: 16px;
        background: linear-gradient(90deg, #01904d, #0ce47f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .admin-info {
        background-color: #f7f7fb;
        padding: 30px;
        border-radius: 20px;
        margin: 10px 0;

      }
      .admin-info hr {
        margin: 15px 0;
      }
      .admin-info div {
       text-align: center;
      }
      .admin-info div h3 {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        margin-bottom: 10px;
      }
      .admin-info div span {
        font-size: 18px;
        font-weight: 600;
        color: #4c4c4c;
      }
      .admin-login {
        margin: 20px 0;
        text-align: center;
      }

      #website-login-btn {
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        border-radius: 50px;
        padding: 10px 20px;
        color: #ffff;
        font-size: 14px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-decoration: none;
        align-self: center;
      }

      @media screen and (max-width: 768px) {
     .template-container {
          padding-bottom: 15px;
        }
        /* header media query css */
        .template-header {
          padding: 8px;
        }
        .logo-img {
          width: 130px;
          height: 40px;
        }
        /* header media query css */

        .template-body-content div{
          font-weight: 600;
          font-size: 14px;
        }

        .template-body-content h1 {
          font-size: 20px;
          font-weight: 600;
        }
        .template-body-content p {
          font-size: 13px;
        }

        .admin-info div span {
        font-size: 16px;
      }

        .admin-info div h3 {
          margin-bottom: 10px;
          font-size: 13px;
        }
        /* footer media query css */
        .template-footer-heading {
          font-weight: 600;
          font-size: 16px;
        }
        .template-footer-description {
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .template-footer-social-media-link {
          width: 20px;
          height: 20px;
        }
        .template-footer-social-media-icon {
          left: 17%;
          width: 14px;
        }
        /* footer media query css */

        #website-login-btn {
          font-weight: 500;
          font-size: 12px;
          padding: 8px 16px;
        }

         .admin-info hr {
        margin: 10px 0;
      }
      
      
  }

    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="template-body-content">
          <%- include('./components/heros/AdminGreetingSvg.ejs') %>
          <div><%= userRole %></div>
          <h1>Welcome To <%= shopName %></h1>
          <p>
            The Super Admin assigns to you <%= userRole %> role In <%= shopName %>,
            granting them specific permissions to manage operations efficiently.
          </p>
        </div>
        <div class="admin-info">
          <div>
            <h3>Login Email</h3>
            <span><%= userEmail %></span>
          </div>
          <hr style="border-top:1px solid rgb(114, 113, 113);"
          ></hr>
          <div>
            <h3>Login Password</h3>
            <span><%= userPassword %></span>
          </div>
        </div>
        <div class="admin-login">
          <a
            href="<%= shopUrl %>"
            target="_blank"
            id="website-login-btn"
          >
            Login <%= shopName %>
          </a>
        </div>
      </div>
      <%- include('./components/footer.ejs' ,{socialMedias}) %>
    </div>
  </body>
</html>
