<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      /* common css */
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: min-content;
        overflow-y: auto;
        background: #f3f3f3;
        font-family: "Open Sans", sans-serif;
      }
      .template-container {
        margin: 0 auto;
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }
      /* header css */
      .template-header {
        text-align: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }
      .logo-img {
        width: 180px;
        height: 50px;
      }
      /* header css */

      /* footer css */
      .template-footer {
        text-align: center;
        display: block;
      }
      .template-footer-heading {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .template-footer-description {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .template-footer-social-medias {
        text-align: center;
      }
      .template-footer-social-media-link {
        text-decoration: none;
        color: white;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: inline-block;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        position: relative;
      }
      .template-footer-social-media-icon {
        position: absolute;
        top: 50%;
        left: 24%;
        translate: 50%;
        transform: translate(-50%, -50%);
      }
      /* footer css */

      /* common css */

      /* common styles ended */
      .template-body {
        padding: 35px 30px;

        justify-items: center;
      }

      .template-body-content {
        text-align: center;
        gap: 10px;
        justify-items: center;
      }

      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }

      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .greetings-body-info {
        gap: 20px;
        justify-items: center;
      }

      .greetings-body-info h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
      }

      .greetings {
        text-align: center;
        gap: 22px;
        margin-top: 30px;
      }

      .greetings p {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 20px;
      }

      .greetings-info {
        gap: 4px;
        text-align: center;
        margin-bottom: 20px;
      }

      .greetings-info h3 {
        font-size: 12px;
        font-weight: 600;
        color: #000000;
      }

      .greetings-info p {
        font-size: 12px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .customer-login {
        text-align: center;
        margin: 20px auto;
      }

      #visit-website-btn {
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        border-radius: 50px;
        padding: 10px 20px;
        color: #ffff;
        font-size: 14px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-self: center;
      }

      @media screen and (max-width: 768px) {
        .template-container {
          padding-bottom: 15px;
        }
        /* header media query css */
        .template-header {
          padding: 8px;
        }
        .logo-img {
          width: 130px;
          height: 40px;
        }
        /* header media query css */

        /* footer media query css */
        .template-footer-heading {
          font-weight: 600;
          font-size: 16px;
        }
        .template-footer-description {
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .template-footer-social-media-link {
          width: 20px;
          height: 20px;
        }
        .template-footer-social-media-icon {
          left: 17%;
          width: 14px;
        }
        /* footer media query css */

        .greetings-body-info h1 {
          font-size: 18px;
        }
        #visit-website-btn {
          font-size: 12px;
          padding: 8px 16px;
        }
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="greetings-body-info">
          <%- include('./components/heros/CustomerGreetingSvg.ejs') %>
          <h1>Welcome to <%= shopName %></h1>
        </div>

        <div class="greetings">
          <p>
            Thank you for joining
            <b><%= shopName %>!</b>
            We are excited to welcome you to our community and look forward to
            providing you with a seamless and exceptional shopping experience.
          </p>
          <div class="greetings-info">
            <h3>Exclusive Offers:</h3>
            <p>Receive access to special promotions and discounts.</p>
          </div>
          <div class="greetings-info">
            <h3>Fast & Secure Shipping:</h3>
            <p>Enjoy reliable delivery with every order .</p>
          </div>
        </div>

        <div class="customer-login">
          <a href="<%= shopUrl %>" target="_blank" id="visit-website-btn">
            Visit <%= shopName %>
          </a>
        </div>
      </div>

      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
